/* Fonts  Roboto  900, 700, 500, 400 , Raleway 700 

colors main teme #212121
colors white teme #FFFFFF
colors accent #2196F3
color text #757575
footel color rgba(255, 255, 255, 0.6);

hero-section >  letter-spacing: 0.06em;
header (sans logo) > letter-spacing: 0.02em;
body > letter-spacing: 0.03em;
 */

/* Second background theme #2F303A;
 main #ffffff
 section Employees theme #F5F4FA; */

:root {
  /* Text colors */
  --main-text-color: #757575;
  --bold-text-color: #212121;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);

  /* Bgc colors */
  --main-bgc-color: #ffffff;
  --secondary-bgc-color: #f5f4fa;
  --dark-bgc-color: #2f303a;
  --btn-bgc-hover: #188ce8;

  --accent-color: #2196f3;

  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  background-color: var(--main-bgc-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  /* font-style: normal;
  font-weight: 400; */
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-black {
  color: var(--bold-text-color);
}
.logo-white {
  color: var(--white-text-color);
}

.header-nav .link,
.header-contacts .link {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--bold-text-color);
}
.header-contacts .link {
  color: var(--main-text-color);
}
.header-nav .link:focus,
.header-nav .link:hover,
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}
/* Hero section */
.hero {
  background-color: var(--dark-bgc-color);
  color: var(--white-text-color);

  letter-spacing: 0.06em;
}
.hero-title,
.section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  /* width: 696px; */
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: currentColor;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.hero-button:hover {
  background-color: var(--btn-bgc-hover);
}
/* Benefits */
.benefits .benefits-title-list {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--bold-text-color);
}
.benefits-title-text {
  line-height: 1.71;
}
/* About us */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bold-text-color);
}
/* Our team */
.team {
  background-color: var(--secondary-bgc-color);
}
.team .item {
  background-color: var(--main-bgc-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bold-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  color: var(--bold-text-color);
}
.team-ability {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
}
/* Footer */
.footer {
  background-color: var(--dark-bgc-color);
}
.footer-adress .link {
  line-height: 1.71;
  color: var(--white-text-color);
  font-style: normal;
}
.footer-contacts .link {
  line-height: 1.71;
  color: var(--footer-text-color);
  font-style: normal;
}
.footer-nav .link:focus,
.footer-nav .link:hover,
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

/* Portfolio page */
/* Site navigation */
.site-product > .portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--bold-text-color);
  background: var(--secondary-bgc-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.site-product > .active-btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.active-btn:hover,
.active-btn:focus {
  background-color: var(--btn-bgc-hover);
  /* color: var(--bold-text-color); */
}
/* Work examples */
.link-work .link {
  width: 370px;
  /* height: 404px;
  left: 215px;
  top: 262px; */

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.link .work-examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--bold-text-color);
}
.link .work-examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
